.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile

# Entire folders
00_Data/
01_Analysis/
02_Documents/
03_Code/
Autocorrelation_paper/
Beta Diversity with Pao_paper/
ERC Interview/
Time Series_paper/
sandbox_paper/













